logs
project/project
project/target
target
tmp
.history
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
node_modules
bower_components
public/lib
typings/*
!typings/polymer/*
!typings/tsd.d.ts
.tscache
public/components/**/*.js
public/components/**/*.js.map
test/components/wgl/ref.js
test/components/wgl/ref.ts