<link rel="import" href="../../../lib/polymer/polymer.html">
<polymer-element name="gpx-exporter" attributes="repository">
    <template>
        <link rel="stylesheet" href="../../../lib/bootstrap/css/bootstrap.min.css">
        <template if="{{gpsLog.length > 0}}">
            <button on-click="{{exportByEmail}}" class="btn btn-success btn-lg btn-block">Send GPX by Email</button>
            <button on-click="{{exportAsText}}" class="btn btn-success btn-lg btn-block">Show/Hide raw GPX</button>
            <p class="text-warning">Note: The email button may not work depending on your environment.</p>
            <template if="{{gpxText}}">
                <div>{{gpxText}}</div>
            </template>
        </template>
    </template>
    <script src="gpx-exporter.js"></script>
</polymer-element>