<link rel="import" href="../../../lib/polymer/polymer.html">
<polymer-element name="gps-logger" attributes="repository">
    <template>
        <link rel="stylesheet" href="../../../lib/bootstrap/css/bootstrap.min.css">
        <button on-click="{{logGps}}" class="btn btn-primary btn-lg">Log GPS</button>
        <button on-click="{{removeLastLog}}" class="btn btn-danger btn-lg">Remove Last Log</button>
        <ol>
            <template repeat="{{entry in gpsLog}}">
                <li>{{entry.time}} {{entry.longitude}} {{entry.latitude}}</li>
            </template>
        </ol>
    </template>
    <script src="gps-logger.js"></script>
</polymer-element>